<style>
         body {
         background-image:url('https://th.bing.com/th/id/R.fa0726e0a25fb6704c6fd1a1298b948d?rik=tch6qt6h5cTonA&pid=ImgRaw&r=0');
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: center;
</style>